HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE Specific
.idea/
.vscode/
.mvn/

# Logs
logs/
*.log

# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Docker
.env
node_modules/
docker-compose.override.yml

# GitHub Actions secrets
.github/workflows/*.yml


